    <div id = "leftmenu">
      <ul id = "lfsmenulist">
        <li><a href = "/">Página inicial</a></li>
        <li><a href = "/lfs/index.html">Página inicial do LFS</a></li>
        <li><a href = "/lfs/news.html">Notícias</a></li>
        <li><a href = "/lfs/download.html">Transferência</a></li>
        <li><a href = "/lfs/read.html">Leia Online</a></li>
        <li><a href = "https://www.linuxfromscratch.org/cgi-bin/lfscounter.php">Seja Contado(a)</a></li>
        <li><a href = "/lfs/support.html">Suporte</a></li>
        <li><a href = "/mail.html">Listas de Discussão</a></li>
        <li><a href = "https://wiki.linuxfromscratch.org/lfs">Wiki</a></li>
        <li><a href = "/lfs/contribute.html">Contribuir</a></li>
        <li><a href = "/mirrors.html">Espelhos do Sítio</a></li>
      </ul>
    </div>
