<!--#set var="pageTitle" value="Notícias do LFS" -->
<!--#include virtual="header.html" -->
<!--#include virtual="menu.html" -->
   <div class = "main">
      <h1>Notícias do LFS</h1>
         <dl class = "newsItem">
           <dt>Lançamento LFS-12.3</dt>
           <dd><em>Jamenson Espindula - 2025/03/05</em>

           <p>A comunidade brasileira do Linux From Scratch anuncia o 
           lançamento do LFS Versão 12.3.</p>

           <p>As principais mudanças incluem atualizações do conjunto de 
           ferramentas para binutils-2.44 e glibc-2.41. No total, 45 
           pacotes foram atualizados desde o último lançamento. Mudanças 
           no texto também foram feitas ao longo do livro. O núcleo 
           Linux também foi atualizado para a versão 6.13.2.</p>

           <p>Os pacotes que tem atualizações de segurança incluem: 
           jinja2-3.1.5, Python-3.13.1 e vim-9.1.1166.</p>

           <p>No total, aconteceram 146 submissões no LFS desde a versão 
           estável anterior do livro.</p>

           <p>Você consegue ler o livro
              <a href = "/lfs/view/12.3/">online</a>, ou
              <a href = "/lfs/downloads/12.3/">baixar</a> para ler localmente.
           </p>

           <p>Você consegue ler a versão systemd do livro online em
              <a href = "/lfs/view/12.3-systemd/">LFS-systemd</a>, ou
              <a href = "/lfs/downloads/12.3-systemd/">baixar-systemd</a> para ler localmente.
           </p>

           <p>Por favor, direcione quaisquer comentários acerca desse 
           lançamento para a equipe de desenvolvimento do LFS em 
<a href = "mailto:lfs-dev@lists.linuxfromscratch.org">lfs-dev@lists.linuxfromscratch.org</a> 
           (somente em inglês). Por favor, observe que o registro na 
           lista de discussão (inglesa) lfs-dev é exigido para evitar 
           lixo eletrônico.</p></dd>
         </dl>

           <dt>Lançamento LFS-12.2</dt>
           <dd><em>Jamenson Espindula - 2024/09/01</em>

           <p>A comunidade brasileira do Linux From Scratch anuncia o 
           lançamento do LFS Versão 12.2.</p>

           <p>As principais mudanças incluem atualizações do conjunto de
           ferramentas para binutils-2.43.1, glibc-2.40 e gcc-14.2.0. No total,
           45 pacotes foram atualizados desde o lançamento mais recente e
           extensas atualizações no texto foram feitas ao longo do livro para
           melhorar a legibilidade. O núcleo Linux foi atualizado para a versão
           6.10.5.</p>

           <p>No geral, aconteceram 146 submissões no LFS desde a versão
           estável anterior do livro.</p>

           <p>Você consegue ler o livro
              <a href = "/lfs/view/12.2/">online</a>, ou
              <a href = "/lfs/downloads/12.2/">baixar</a> para ler localmente.
           </p>

           <p>Você consegue ler a versão systemd do livro online em
              <a href = "/lfs/view/12.2-systemd/">LFS-systemd</a>, ou
              <a href = "/lfs/downloads/12.2-systemd/">baixar-systemd</a> para ler localmente.
           </p>

           <p>Por favor, direcione quaisquer comentários acerca desse 
           lançamento para a equipe de desenvolvimento do LFS em 
<a href = "mailto:lfs-dev@lists.linuxfromscratch.org">lfs-dev@lists.linuxfromscratch.org</a> 
           (somente em inglês). Por favor, observe que o registro na 
           lista de discussão (inglesa) lfs-dev é exigido para evitar 
           lixo eletrônico.</p></dd>
         </dl>

         <dl class = "newsItem">
           <dt>Lançamento LFS-12.1</dt>
           <dd><em>Jamenson Espindula - 2024/03/02</em>

           <p>A comunidade brasileira do Linux From Scratch anuncia o 
           lançamento do LFS Versão 12.1.</p>

           <p>As principais mudanças incluem atualizações do conjunto de 
           ferramentas para binutils-2.42 e glibc-2.39. No total, 43 
           pacotes foram atualizados desde o último lançamento, e 
           extensas atualizações para o texto foram feitas ao longo do 
           livro para melhorar a legibilidade. O núcleo Linux foi 
           atualizado para a versão 6.7.4.</p>

           <p>No geral, ocorreram 230 commits no LFS desde a versão 
           estável anterior do livro.</p>

           <p>Você consegue ler o livro
              <a href = "/lfs/view/12.1/">online</a>, ou
              <a href = "/lfs/downloads/12.1/">baixar</a> para ler localmente.
           </p>

           <p>Você consegue ler a versão systemd do livro online em
              <a href = "/lfs/view/12.1-systemd/">LFS-systemd</a>, ou
              <a href = "/lfs/downloads/12.1-systemd/">baixar-systemd</a> para ler localmente.
           </p>

           <p>Por favor, direcione quaisquer comentários acerca deste 
           lançamento para a equipe de desenvolvimento do LFS em 
<a href = "mailto:lfs-dev@lists.linuxfromscratch.org">lfs-dev@lists.linuxfromscratch.org</a> 
           (somente em inglês). Por favor, observe que o registro na 
           lista de discussão (inglesa) lfs-dev é exigido para evitar 
           lixo eletrônico. </p> </dd>
         </dl>

         <dl class = "newsItem">
           <dt>Lançamento LFS-12.0</dt>
           <dd><em>Jamenson Espindula - 2023/09/06</em>

           <p>A comunidade brasileira do Linux From Scratch anuncia o 
           lançamento do LFS Versão 12.0.</p>

           <p>As principais mudanças incluem atualizações do conjunto de 
           ferramentas para binutils-2.41, gcc-13.2.0 e glibc-2.38. No 
           total, 38 pacotes foram atualizados desde o último 
           lançamento. Extensas atualizações para o texto ao longo do 
           livro para melhorar a legibilidade. O núcleo Linux foi 
           atualizado para a versão 6.4.12.</p>

           <p>outras mudanças significativas incluem:</p>
           <ul>
             <li>Adição de libxcrypt como um pacote separado. 
             Anteriormente, esse pacote estava incluído no glibc.</li>
             <li>Para a versão sysV do livro, o udev agora é extraído 
             diretamente a partir do tarball do systemd. Essa mudança 
             também exige construir os módulos Python jinja e 
             markupsafe.</li>
             <li>O novo pacote pkgconf agora é usado em vez de 
             pkg-config porque os pacotes posteriores não mais são 
             mantidos.</li>
             <li>O novo módulo Python flit-core foi adicionado como uma 
             nova dependência exigida para o módulo wheel.</li>
           </ul>

           <p>No geral, ocorreram 234 commits no LFS desde a versão 
           estável anterior do livro.</p>

           <p>Você consegue ler o livro
              <a href = "/lfs/view/12.0/">online</a>, ou
              <a href = "/lfs/downloads/12.0/">baixar</a> para ler localmente.
           </p>

           <p>Você consegue ler a versão systemd do livro online em
              <a href = "/lfs/view/12.0-systemd/">LFS-systemd</a>, ou
              <a href = "/lfs/downloads/12.0-systemd/">baixar-systemd</a> para ler localmente.
           </p>

           <p>Por favor, direcione quaisquer comentários acerca deste 
           lançamento para a equipe de desenvolvimento do LFS em 
<a href = "mailto:lfs-dev@lists.linuxfromscratch.org">lfs-dev@lists.linuxfromscratch.org</a> 
           (somente em inglês).  Por favor, observe que o registro na 
           lista de discussão (inglesa) lfs-dev é exigido para evitar 
           lixo eletrônico.</p>

           </dd>
         </dl>

         <dl class = "newsItem">
           <dt>Lançamento LFS-11.3</dt>
           <dd><em>Jamenson Espindula - 2023/04/05</em>

           <p>A comunidade brasileira do Linux From Scratch anuncia o 
           lançamento do LFS Versão 11.3.</p>

           <p>As principais mudanças incluem atualizações do conjunto de 
           ferramentas para binutils-2.40 e glibc-2.37. No total, 43 
           pacotes foram atualizados desde o último lançamento. Extensas 
           atualizações para o texto ao longo do livro para melhorar a 
           legibilidade. O núcleo Linux foi atualizado para a versão 
           6.1.11.</p>

           <p>Você consegue ler o livro
              <a href = "/lfs/view/11.3/">online</a>, ou
              <a href = "/lfs/downloads/11.3/">baixar</a> para ler localmente.
           </p>

           <p>Você consegue ler a versão systemd do livro online em
              <a href = "/lfs/view/11.3-systemd/">LFS-systemd</a>, ou
              <a href = "/lfs/downloads/11.3-systemd/">baixar-systemd</a> para ler localmente.
           </p>

           <p>Por favor, direcione quaisquer comentários acerca deste 
           lançamento para a equipe de desenvolvimento do LFS em 
<a href = "mailto:lfs-dev@lists.linuxfromscratch.org">lfs-dev@lists.linuxfromscratch.org</a> 
           (somente em inglês). Por favor, observe que o registro na 
           lista de discussão (inglesa) lfs-dev é exigido para evitar 
           lixo eletrônico.</p> </dd>
         </dl>

         <dl class = "newsItem">
           <dt>Lançamento LFS-11.2</dt>
           <dd><em>Jamenson Espindula - 2022/12/16</em>

           <p>A comunidade brasileira do Linux From Scratch anuncia o 
           lançamento do LFS Versão 11.2.</p>

           <p>As principais mudanças incluem atualizações do conjunto de 
           ferramentas para binutils-2.39, gcc-12.2 e glibc-2.36. No 
           total, 34 pacotes foram atualizados desde o último 
           lançamento. Adicionalmente, a instalação do módulo Python foi 
           mudada para usar o método 'wheel' para procedimentos mais 
           consistentes de construção/instalação. Mudanças no texto 
           também foram feitas ao longo do livro. O núcleo Linux foi 
           atualizado para a versão 5.19.2.</p>

           <p>Você consegue ler o livro
              <a href = "/lfs/view/11.2/">online</a>, ou
              <a href = "/lfs/downloads/11.2/">baixar</a> para ler localmente.
           </p>

           <p>Você consegue ler a versão systemd do livro online em
              <a href = "/lfs/view/11.2-systemd/">LFS-systemd</a>, ou
              <a href = "/lfs/downloads/11.2-systemd/">baixar-systemd</a> para ler localmente.
           </p>

           <p>Por favor, direcione quaisquer comentários acerca deste 
           lançamento para a equipe de desenvolvimento do LFS em 
<a href = "mailto:lfs-dev@lists.linuxfromscratch.org">lfs-dev@lists.linuxfromscratch.org</a> 
           (somente em inglês). Por favor, observe que o registro na 
           lista de discussão (inglesa) lfs-dev é exigido para evitar 
           lixo eletrônico.</p> </dd>
         </dl>

<!--#include virtual="/common/footer.html" -->
