<!--#set var="pageTitle" value="Baixar GLFS" -->
<!--#include virtual="header.html" -->
<!--#include virtual="menu.html" -->
    <div class="main">
      <h1>Baixar GLFS</h1>

      <h2>Lançamentos do GLFS</h2>

      <p>No sítio do GLFS, o livro é lançamento contínuo e geralmente é 
      renderizado logo depois da última submissão de Git ou lote de 
      submissões no fonte de Git. No entanto, existem HTML fragmentadas
         <a href="https://github.com/glfs-book/glfs/releases">lançamentos</a>.
         Cada um deles é versionado com os quatro primeiros ou mais caracteres únicos do
         <a href="https://graphite.dev/guides/git-hashing">Git hash</a>

         ao tempo do lançamento. Existem lançamentos instáveis (ou 
         pré-lançamento) e lançamentos estáveis. Se não quiser baixar um 
         lançamento, você também consegue renderizar o livro você 
         mesmo(a).
      </p>

      <h2>Git do GLFS</h2>

      <p>O GLFS pode ser obtido a partir do repositório GitHub:</p>
      <div class="cmd">
        <p>git clone https://github.com/glfs-book/glfs</p>
      </div>

      <p>Você consegue atualizar o fonte fazendo:</p>
      <div class="cmd"><p>git pull</p></div>


      <h2>Renderizando o livro do GLFS</h2>

      <p>A renderização funciona da mesma forma que com os livros *LFS. 
      Leia o <tt>INSTALL.md</tt> incluso para descobrir quais pacotes 
      você precisa para a finalidade de renderizar o livro da maneira 
      que você quer. <tt>README.md</tt> também fornece informações como 
      opções de renderização que você possivelmente queira 
      configurar.</p>

      <p>Se você quiser renderizar a versão Systemd do livro, por 
      exemplo, execute:</p>
      <div class="cmd">
        <p>make REV=systemd</p>
      </div>

      <h2>Pacotes para GLFS</h2>

      <p>O GLFS tem uma lista de pacotes que você consegue baixar. Por 
      favor, use as versões listadas no livro, a menos que você saiba o 
      que está fazendo.</p>

<!--#include virtual="/common/footer.html" -->
