<!--#set var="pageTitle" value="Página inicial do Projeto GLFS" -->
<!--#include virtual="header.html" -->
<!--#include virtual="menu.html" -->

    <div class="main">
    <h1>O que é Gaming Linux From Scratch?</h1>

    <p>
      O Gaming Linux From Scratch, o qual é baseado no <a 
      href="https://www.linuxfromscratch.org/blfs/view/svn/">livro 
      BLFS</a>, ajuda você a instalar software de suporte a jogos, como 
      Steam ou Wine, em um novo sistema LFS.
    </p>

    <p>
      Esse processo pode ser bem complexo, especialmente se você estiver 
      usando uma CPU x86_64. Quando se trata de jogos, o Steam é a 
      escolha mais popular. No Linux, o Steam em si é um binário de 32 
      bits que não pode ser compilado devido à indisponibilidade do 
      código-fonte. Isso significa que você precisará emulá-lo em uma 
      CPU x86_64. Se você estiver usando uma CPU de 32 bits, o Steam 
      funciona, mas o sandboxing do CEF (<a 
      href="https://github.com/chromiumembedded/cef">Chromium Embedded 
      Framework</a>) não. Esse é um recurso que o Steam usa para a 
      página da loja, pois o Steam usa o Chromium. O recurso de 
      sandboxing pode ser desabilitado passando-se uma opção ao executar 
      o Steam.
    </p>

    <p>
      A próxima opção é o Wine. Ele pode permitir que você execute 
      qualquer software do Windows, como jogos, sem a necessidade de 
      nenhum iniciador especializado. Ele é útil além dos jogos. Um 
      possível caso de uso é o de usar a versão do Windows de um pacote 
      via Wine se a versão do Linux não estiver funcionando ou tiver um 
      problema notável interferindo no teu fluxo de trabalho.
    </p>

    <p>
      Em ambos os casos, se você estiver usando uma CPU x86_64, instalar 
      software de 32 bits para compatibilidade com software de 32 bits é 
      o melhor movimento. Um monte de jogos ainda é de 32 bits. Mesmo se 
      você planeja usar apenas o Wine, que pode ser compilado para 64 
      bits, um monte de software do Windows também é somente de 32 bits.
    </p>

    <p>
      <a href="/mlfs">MLFS</a> é, portanto, um pré-requisito fortemente 
      recomendado para este livro. É recomendado para Wine e exigido 
      para Steam. <a href="/~thomas/multilib-m32/">MLFS com extensões 
      m32</a> é a escolha recomendada para economizar uso de disco e 
      tempo de construção. x32 bits no momento não é muito útil para 
      Steam ou Wine.
    </p>

    <p>
      Se você estiver em uma CPU de 32 bits, não precisará se preocupar 
      com o MLFS e poderá instalar o LFS normalmente.
    </p>


    <h2>Por que eu quereria um sistema GLFS?</h2>

    <p>
      Instalar software somente binário em um sistema LFS é um tópico 
      controverso na comunidade LFS. No entanto, muitas pessoas ainda 
      querem jogar e usar software Windows no novo sistema LFS delas. 
      GLFS mostra como fazer isso, permitindo que teu sistema LFS seja 
      uma plataforma viável de jogos. Se você não se importa com jogos, 
      este livro provavelmente não é para você, mas ele ainda oferece 
      instruções acerca do como instalar certos pacotes para 32 bits em 
      64 bits. Ele também oferece instruções acerca do como instalar o 
      Wine, o qual você ainda possivelmente queira usar.
    </p>


    <h2>O que eu consigo fazer com meu sistema GLFS?</h2>

    <p>
      Você estará apto(a) a usar o Steam, jogar jogos populares usando 
      Vulkan e OpenGL, usar os controladores NVIDIA Proprietary ou 
      AMDGPU PRO e executar software do Windows via Wine.
    </p>


    <h2>Leia Online</h2>

    <p>
      Você consegue ler o livro <a 
      href="https://glfs-book.github.io/glfs">aqui</a>. O livro é um 
      lançamento contínuo, como o MLFS. A única versão renderizada 
      online no momento é a System V, embora você consiga <a 
      href="/glfs/download.html">baixar</a> a edição do livro que tem 
      suporte ao Systemd.
    </p>


    <h2>Agradecimentos para</h2>

      <p>
        Rahul Chandra, Thomas Trepl, Xi Ruoyao e os(as) <a 
        href="https://glfs-book.github.io/glfs/introduction/credits.html">contribuidores(as) 
        do GLFS</a>
      </p>

<!--#include virtual="/common/footer.html" -->
