<!--#set var="pageTitle" value="Página inicial do Projeto Remendos do LFS" -->
<!--#include virtual="header.html" -->
<!--#include virtual="menu.html" -->
<div class = "main">
   <h1>O que é o Projeto Remendos do LFS?</h1>

   <p>O projeto Remendos serve como um repositório central para todos os 
   remendos úteis para um(a) usuário(a) do LFS. Também serve como um 
   campo de testes para remendos que possivelmente sejam posteriormente 
   incorporados ao livro LFS e BLFS. Os remendos que estão no 
   repositório, mas que não estão incluídos no livro, destinam-se 
   principalmente para usuários(as) já familiarizados(as) com o LFS. 
   Usuários(as) iniciantes do LFS deveriam aderir às versões e remendos 
   que estão no LFS ou BLFS.</p>

   <p>Os Remendos são submetidos por usuários(as) individuais e podem 
   não serem testados pela Equipe de Testes do LFS. Eles não oferecem 
   garantia de qualquer tipo. Aplique os remendos por tua conta e 
   risco.</p>

   <p>Os(As) usuários(as) que desejarem submeter um remendo deveriam 
   fazê-lo enviando-o como um anexo para a lista de discussão
<a href="mailto:lfs-dev@linuxfromscratch.org">lfs-dev</a> ou
<a href="mailto:blfs-dev@linuxfromscratch.org">blfs-dev</a> apropriada 
   para o pacote do script alvo. A discussão relacionada aos remendos 
   deveria estar na lista de desenvolvimento apropriada.</p>

<!--#include virtual="/common/footer.html" -->
