    <div id = "leftmenu">
      <ul id = "patchesmenulist">
        <li><a href = "/">Página Inicial</a></li>
        <li><a href = "/patches/index.html">Página Inicial dos Remendos</a></li>
        <li><a href = "/patches/downloads/">Transferência</a></li>
        <li><a href = "/patches/submit.html">Submeta um Remendo</a></li>
        <li><a href = "/patches/support.html">Suporte</a></li>
        <li><a href = "/patches/contribute.html">Contribuir</a></li>
        <li><a href = "/mail.html">Listas de Discussão</a></li>
        <li><a href = "/mirrors.html">Espelhos do Sítio</a></li>
      </ul>
    </div>
