<!--#set var="pageTitle" value="Envolvendo-se com o BLFS" -->
<!--#include virtual="header.html" -->
<!--#include virtual="menu.html" -->
    <div class="main">
     <h1>Envolvendo-se com o BLFS</h1>

     <p>Uma pergunta comum nas listas de discussão é: "Como eu me 
     envolvo?". Portanto, nós escrevemos esta página para tentar 
     responder a essa pergunta.</p>

     <p>A primeira coisa que nós sugerimos que você faça é assinar as
<a href="/mail.html">listas de discussão blfs-book e blfs-dev</a>. A 
     blfs-dev contém discussões acerca do desenvolvimento do livro, 
     enquanto a blfs-book recebe informações acerca de todas as 
     submissões e tráfego de tíquetes associados ao BLFS.</p>

     <p>Você precisa instalar o Git no teu computador para realmente 
     estar apto(a) para ajudar com o BLFS. Naturalmente, a melhor 
     maneira de fazer isso é seguindo-se as instruções no próprio livro 
     BLFS! Você consegue então baixar o fonte XML para o livro usando o 
     seguinte comando:</p>

     <div class="cmd">
       <p>git clone https://github.com/espindula/br-blfs.git br-blfs-git</p>
     </div>

     <p>O procedimento acima obterá o tronco atual do repositório. 
     Quando você desejar atualizar tua árvore, simplesmente emita:</p>

     <div class="cmd">
       <p>git pull</p>
     </div>

     <p>enquanto estiver no diretório br-blfs-git.</p>

     <p>Informações acerca da conversão do livro do formato XML para 
     HTML podem ser encontradas nos arquivos INSTALL, README e 
     RENDERIZAR.txt. Você precisará instalar libxslt, DocBook XSL 
     Stylesheets, HTML Tidy (opcional para HTML), Lynx (para texto) e 
     FOP (para PDF) para isso funcionar. Informações completas estão no 
     arquivo INSTALL.</p>

     <p>Tão logo você tenha se familiarizado com o esquema do livro, dê 
     uma olhada em nosso
<a href="https://wiki.linuxfromscratch.org/blfs/">Sistema de Tíquetes</a>.
Se você quiser estar apto(a) para criar tíquetes, peça acesso na lista de discussão
<a href="https://lists.linuxfromscratch.org/sympa/info/blfs-dev/">blfs-dev</a>.</p>

     <p>Por fim, divirta-se e envolva-se nas discussões nas listas. 
     Tente enviar mensagens eletrônicas para blfs-dev (para problemas do 
     livro) ou blfs-support (para problemas de construção) quando você 
     tiver problemas, pois a equipe do BLFS lê essas listas 
     regularmente. Quando tiver algo que deseja submeter, crie um 
     arquivo diff (de preferência usando diff -Naur) e submeta-o à lista 
     blfs-dev, onde um(a) dos(as) editores(as) o pegará. Para mais 
     detalhes acerca de como atualizar o livro BLFS, dê uma olhada no
<a href="https://www.br.linuxfromscratch.org/lfs/LFS-EDITORS-GUIDE.html">Guia do(a) Editor(a) do LFS</a>.</p>

<!--#include virtual="/common/footer.html" -->
