<!--#set var="pageTitle" value="Baixar BLFS" -->
<!--#include virtual="header.html" -->
<!--#include virtual="menu.html" -->
    <div class="main">
     <h1>Baixe o livro Beyond Linux From Scratch</h1>

     <p>Diversas versões do livro BLFS estão disponíveis para 
     transferência, cada uma em vários formatos:</p>

     <h2>Versão SystemV do BLFS</h2>

     <h2>Estável Atual (versão 12.3)</h2>
     <p>Este é o livro BLFS mais recentemente lançado.</p>
     <ul>
      <li><a href="downloads/12.3/BLFS-SYSV-BOOK-12.3-pt_BR-HTML.tar.bz2">formato HTML comprimido, várias páginas</a></li>
      <li><a href="downloads/12.3/BLFS-SYSV-BOOK-12.3-pt_BR-NOCHUNKS.html">formato HTML, página única</a></li>
      <li><a href="downloads/12.3/BLFS-SYSV-BOOK-12.3-pt_BR.pdf">formato PDF</a></li>
     </ul>

     <p>Uma listagem de diretório também <a href="downloads/12.3">está disponível</a></p>

     <h2>Desenvolvimento Atual</h2>

     <p>Este é o livro BLFS no estado atual de desenvolvimento dele. As 
     instruções geralmente são estáveis, mas podem ocorrer mudanças que 
     quebrem a construção temporariamente.</p>

     <p><a href="https://www.linuxfromscratch.org/blfs/downloads/svn/">Instantâneos</a> 
     (somente em inglês) renderizados diariamente podem ser baixados. Ou 
     baixe o XML do livro (em português) a partir do repositório Git e 
     renderize-o você mesmo(a):</p>

     <div class="cmd">
       <p>git clone https://github.com/espindula/br-blfs.git br-blfs-git</p>
     </div>

     <h2>Versão Systemd do BLFS</h2>

     <h2>Systemd Estável Atual (versão 12.3)</h2>

     <p>Este é o mais recente livro systemd do BLFS lançado.</p>
     <ul>
      <li><a href="downloads/12.3-systemd/BLFS-SYSD-BOOK-12.3-pt_BR-HTML.tar.bz2">formato HTML comprimido, várias páginas</a></li>
      <li><a href="downloads/12.3-systemd/BLFS-SYSD-BOOK-12.3-pt_BR-NOCHUNKS.html">formato HTML, página única</a></li>
      <li><a href="downloads/12.3-systemd/BLFS-SYSD-BOOK-12.3-pt_BR.pdf">formato PDF</a></li>
     </ul>

     <p>Uma listagem de diretório também <a href="downloads/12.3-systemd">está disponível</a></p>

     <h2>Desenvolvimento Atual Systemd</h2>

     <p>Este é o livro Systemd do BLFS no estado atual de 
     desenvolvimento dele. As instruções geralmente são estáveis, mas 
     podem ocorrer mudanças que quebrem a construção 
     temporariamente.</p>

     <p><a href="https://www.linuxfromscratch.org/blfs/downloads/systemd/">Instantâneos</a> 
     (somente em inglês) renderizados diariamente podem ser baixados. Ou 
     baixe o XML do livro (em português) a partir do repositório Git 
     (instrução acima) e renderize-o você mesmo(a).</p>

     <div class="cmd">
        <p>Depois que os pré-requisitos listados no arquivo INSTALL 
        forem instalados, use 'make REV=systemd' para renderizar o 
        livro. Informações adicionais estão listadas nos arquivos README 
        e RENDERIZAR.txt.</p>
     </div>

     <h2>Museu do BLFS</h2>

     <p>Antigo, mas ainda útil como uma experiência educacional, ou para 
     ver como o BLFS cresceu ao longo dos anos:
        <a href="../museum/blfs-museum/">blfs-museum</a>.
     </p>

     <h2 id="packages">Pacotes para BLFS</h2>

     <p>O BLFS tem uma lista de pacotes que você consegue baixar. Por 
     favor, use as versões que estão
<a href="../faq/#why-not-version">listadas no livro</a>; essas são 
     versões testadas que são conhecidas por funcionarem entre elas. 
     Além dos pacotes, você precisará baixar alguns remendos que também 
     estão listados no livro. Existem várias maneiras de baixar os 
     pacotes.</p>

     <h3>Caçar e Bicar</h3>

     <p>Quando um pacote não estiver disponível a partir do local 
     listado no livro, alguns outros lugares para se tentar são:

        <ul>

           <li>Uma busca pelo nome completo do pacote no
<a href="https://www.google.com">Google</a> ou no teu mecanismo 
           de busca favorito</li>

           <li><a href="https://www.debian.org/distrib/packages">Página de pesquisa de pacotes da Debian</a></li>
        </ul>

     <h3 id='sources'>Sítios HTTP/FTP do BLFS</h3>

        <p>Se os métodos acima não estiverem disponíveis para você, os 
        pacotes também estão disponíveis individualmente nos seguintes 
        espelhos FTP e HTTP.</p>

        <ul>
           <li><a href="ftp://ftp.lfs-matrix.net/pub/blfs/">ftp://ftp.lfs-matrix.net/pub/blfs/</a>
                (Califórnia, EUA, 200Mbps)</li>
           <li><a href="http://ftp.lfs-matrix.net/pub/blfs/">
                http://ftp.lfs-matrix.net/pub/blfs/</a>
               (Califórnia, EUA, 200Mbps)</li>
           <li><a href="ftp://ftp.osuosl.org/pub/blfs/">ftp://ftp.osuosl.org/pub/blfs/</a>
               (Oregon, EUA, 310Mbps)</li>
           <li><a href="http://ftp.osuosl.org/pub/blfs/">http://ftp.osuosl.org/pub/blfs/</a>
               (Oregon, EUA, 310Mbps)</li>
        </ul>

<!--#include virtual="/common/footer.html" -->
