    <div id="leftmenu">
      <ul id="blfsmenulist">
        <li><a href="/">Página inicial</a></li>
        <li><a href="/blfs/index.html">Página inicial do BLFS</a></li>
        <li><a href="/blfs/news.html">Notícias</a></li>
        <li><a href="/blfs/download.html">Transferência</a></li>
        <li><a href="/blfs/read.html">Leia Online</a></li>
        <li><a href="/support.html">Suporte</a></li>
        <li><a href="/mail.html">Listas de discussão</a></li>
        <li><a href="https://wiki.linuxfromscratch.org/blfs">Wiki</a></li>
        <li><a href="/contribute.html">Contribuir</a></li>
        <li><a href="/blfs/developers.html">Envolva-se</a></li>
        <li><a href="/mirrors.html">Espelhos do Sítio</a></li>
      </ul>
    </div>
