<!--#set var="pageTitle" value="Notícias do BLFS" -->
<!--#include virtual="header.html" -->
<!--#include virtual="menu.html" -->
   <div class = "main">
      <h1>Notícias do BLFS</h1>

     <dl class="newsItem">
           <dt>BLFS 12.3 foi lançado!</dt>
           <dd><em>Jamenson Espindula - 2025/03/05</em>

             <p>A Equipe BLFS está orgulhosa de apresentar a versão 12.3 
             do Beyond Linux From Scratch. Essa versão inclui mais de 
             1.000 pacotes além do livro base Linux From Scratch Versão 
             12.3. O livro tem mais que 1.560 atualizações a partir da 
             versão anterior, incluindo muitas mudanças de texto e de 
             formatação.</p>

             <p>O livro inclui os ambientes de área de trabalho Gnome, 
             KDE/Plasma, xfce e LXQt. Ele também inclui muitos 
             aplicativos, incluindo navegadores, leitores de mensagens 
             eletrônicas e aplicativos de escritório.</p>

             <p>Os novos pacotes que foram adicionados incluem: 
             sysmon3/sysmond, zxing-cpp-2.3.0, 
             kdsoap-ws-discovery-client e plasma-activities-stats para 
             kio-extras, docbook-xsl-ns, libgstgtk4 em suporte ao 
             Snapshot, cargo-c-0.10.4 necessário para librsvg-2.59.1, 
             LuaJIT para substituir Lua 5.2 e glslc originário de 
             shaderc-2024.2 necessário para gtk4-4.16.0. Por favor, 
             veja-se o Registro das Mudanças no livro para uma lista 
             completa das mudanças.</p>

             <p>O seguinte pacote foi removido: qt5.</p>

             <p>Esse é um lançamento coordenado com 
             BLFS-12.3-systemd.</p>

             <p>Você consegue visualizar a versão 12.3
<a href = "./view/12.3">online</a> ou
<a href = "./downloads/12.3/">baixar</a> para ler localmente.</p>

             <p>Você consegue visualizar a versão 12.3 systemd
<a href = "./view/12.3-systemd">online systemd</a> ou
<a href = "./downloads/12.3-systemd/">baixar-systemd</a> para ler 
             localmente.</p>

           </dd>
         </dl>

           <dt>BLFS 12.2 foi lançado!</dt>
           <dd><em>Jamenson Espindula - 2024/09/01</em>

             <p>A equipe do BLFS está orgulhosa de apresentar a versão 
             12.2 do Beyond Linux From Scratch. Essa versão inclui mais 
             de 1.000 pacotes além do livro base Linux From Scratch 
             Versão 12.2. O livro tem 1.750 atualizações a partir da 
             versão anterior, incluindo muitas mudanças de texto e 
             formatação.</p>

             <p>O livro inclui os ambientes de área de trabalho Gnome, 
             KDE/Plasma, xfce e LXQt. Também inclui muitos aplicativos, 
             incluindo navegadores, leitores de mensagens eletrônicas e 
             aplicativos de escritório.</p>

             <p>A novidade nesta versão do BLFS é a atualização do KDE5
             (Frameworks, Gear, Plasma) para KDE6. Novos pacotes de interesse
             que foram adicionados são FreeRDP, gnome-connections e dolphin e
             konversation do KDE. Um total de 32 outros pacotes foram
             adicionados para suportar outros pacotes já no livro. Além disso,
             21 pacotes não mantidos foram removidos. Isso inclui Python2 e
             GTK2 e pacotes que não tenham sido atualizados para usar versões
             mais atuais. Por favor, veja o Registro das Mudanças no livro para
             uma lista completa de mudanças.</p>

             <p>AVISO DE DESCONTINUAÇÃO: Versões futuras do BLFS removerão o
             qt5.</p>

             <p>Esse é um lançamento coordenado com 
             BLFS-12.2-systemd.</p>

             <p>Você consegue visualizar a versão 12.2
<a href = "./view/12.2">online</a> ou
<a href = "./downloads/12.2/">baixar</a> para ler localmente.</p>

             <p>Você consegue visualizar a versão 12.2 systemd
<a href = "./view/12.2-systemd">online systemd</a> ou
<a href = "./downloads/12.2-systemd/">baixar-systemd</a> para ler 
             localmente.</p>

           </dd>
         </dl>

     <dl class="newsItem">
           <dt>BLFS 12.1 foi lançado!</dt>
           <dd><em>Jamenson Espindula - 2024/06/28</em>

             <p>A equipe do BLFS está orgulhosa de apresentar a versão 
             12.1 do Beyond Linux From Scratch. Essa versão inclui mais 
             de 1.000 pacotes além do livro base Linux From Scratch 
             Versão 12.1. O livro tem 1.685 atualizações a partir da 
             versão anterior, incluindo muitas mudanças de texto e 
             formatação.</p>

             <p>O livro inclui os ambientes de área de trabalho Gnome, 
             KDE/Plasma, xfce e LXQt. Também inclui muitos aplicativos, 
             incluindo navegadores, leitores de mensagens eletrônicas e 
             aplicativos de escritório.</p>

             <p>As novidades nesta versão do BLFS são Qt6, sysmon-qt, 
             xdg-desktop-portal, simple-scan, snapshot, wireplumber, 
             power-profiles-daemon e vários pacotes de suporte. Essa 
             versão também adicionou pacotes SPIRV e Vulkan em suporte 
             aos controladores Vulkan para mesa. Por favor, veja-se o 
             registro das mudanças no livro para uma lista completa de 
             mudanças.</p>

             <p>AVISO DE DESCONTINUAÇÃO: Versões futuras do BLFS 
             removerão a biblioteca não mantida GTK2 e o Python2.</p>

             <p>Esse é um lançamento coordenado com 
             BLFS-12.1-systemd.</p>

             <p>Você consegue visualizar a versão 12.1
<a href = "./view/12.1">online</a> ou
<a href = "./downloads/12.1/">baixar</a> para ler localmente.</p>

             <p>Você consegue visualizar a versão 12.1 systemd
<a href = "./view/12.1-systemd">online systemd</a> ou
<a href = "./downloads/12.1-systemd/">baixar-systemd</a> para ler 
             localmente.</p>

           </dd>
         </dl>

         <dl class = "newsItem">
           <dt>BLFS 12.0 foi lançado!</dt>
           <dd><em>Jamenson Espindula - 2024/05/15</em>

             <p>A equipe do BLFS está orgulhosa de apresentar a versão 
             12.0 do Beyond Linux From Scratch. Essa versão inclui mais 
             de 1.000 pacotes além do livro base Linux From Scratch 
             Versão 12.0. O livro tem 1.543 atualizações a partir da 
             versão anterior, incluindo muitas mudanças de texto e 
             formatação.</p>

             <p>O livro inclui os ambientes Gnome, KDE/Plasma, xfce e 
             lxde. Também inclui muitos aplicativos, incluindo 
             navegadores, leitores de mensagens eletrônicas e 
             aplicativos de escritório.</p>

             <p>Novo nessa versão do BLFS é o ambiente de área de 
             trabalho LXQt e um método alternativo de construção do Qt 
             com requisitos de dependência mais leves que o pacote 
             completo Qt.</p>

             <p>AVISO DE DESCONTINUAÇÃO: Versões futuras do BLFS 
             removerão o ambiente de área de trabalho não mantido LXDE e 
             o suporte para o sistema de arquivos Reiser 
             (reiserfsprogs).</p>

             <p>Esse é um lançamento coordenado com 
             BLFS-12.0-systemd.</p>

             <p>Você consegue visualizar a versão 12.0
<a href = "./view/12.0">online</a> ou
<a href = "./downloads/12.0/">baixar</a> para ler localmente.</p>

             <p>Você consegue visualizar a versão 12.0 systemd
<a href = "./view/12.0-systemd">online systemd</a> ou
<a href = "./downloads/12.0-systemd/">baixar-systemd</a> para ler 
             localmente.</p>

           </dd>
         </dl>

         <dl class = "newsItem">
           <dt>BLFS 11.3 foi lançado!</dt>
           <dd><em>Jamenson Espindula - 2024/03/20</em>

             <p>A comunidade brasileira do BLFS está orgulhosa de 
             apresentar a versão 11.3 do Beyond Linux From Scratch. Essa 
             versão inclui mais de 1.000 pacotes além do livro base 
             Linux From Scratch Versão 11.3. O livro tem 1.357 
             atualizações a partir da versão anterior, incluindo muitas 
             mudanças de texto e formatação.</p>

             <p>O livro inclui os ambientes Gnome, KDE/Plasma, xfce e 
             lxde. Também inclui muitos aplicativos, incluindo 
             navegadores, leitores de mensagens eletrônicas e 
             aplicativos de escritório.</p>

             <p>Esse é um lançamento coordenado com 
             BLFS-11.3-systemd.</p>

             <p>Você consegue visualizar a versão 11.3
<a href = "./view/11.3">online</a> ou
<a href = "./downloads/11.3/">baixar</a> para ler localmente.</p>

             <p>Você consegue visualizar a versão 11.3 systemd
<a href = "./view/11.3-systemd">online systemd</a> ou
<a href = "./downloads/11.3-systemd/">baixar-systemd</a> para ler 
             localmente.</p>

           </dd>
         </dl>
         
<!--#include virtual="/common/footer.html" -->
