<!--#set var="pageTitle" value="Leia o BLFS Online" -->
<!--#include virtual="header.html" -->
<!--#include virtual="menu.html" -->
    <div class = "main">

     <h1>Leia o livro Beyond Linux From Scratch Online</h1>

     <p>Duas versões do livro BLFS estão disponíveis para visualização 
     online: o livro lançado estável atual e o livro de desenvolvimento 
     renderizado diariamente:</p>

     <h2 class = "centralized-h2-title">Versão System V do BLFS</h2>

     <h2>Estável Atual</h2>

     <p>Essa é a versão mais recente do livro baseada no gerenciamento 
     de System V e traduzida para o idioma português escrito e falado no 
     Brasil.</p>

     <p><a href = "view/stable/">BLFS Versão (HTML)</a></p>

     <p>Como resultado de defeitos e avisos de segurança, por favor, 
     leiam-se a página da errata e os Avisos de Segurança para quaisquer 
     modificações necessárias nos aplicativos do BLFS.</p>
 
<p><a href = "https://www.linuxfromscratch.org/blfs/errata/stable/">Errata do BLFS</a></p>

<p><a href = "https://www.linuxfromscratch.org/blfs/advisories/">Avisos de Segurança do BLFS</a></p>

     <h2>Desenvolvimento Atual</h2>
     
     <p>Esse é o Livro System V do BLFS no estado atual de 
     desenvolvimento dele. Mudanças podem acontecer que quebrem 
     temporariamente a construção de alguns pacotes. Como essa versão do 
     livro está em constante mudança, não existe errata separada.</p>

<p><a href = "https://www.linuxfromscratch.org/blfs/view/svn/">Desenvolvimento do BLFS System V (HTML)</a></p>

     <h2 class = "centralized-h2-title">Versão systemd do BLFS</h2>

     <h2>Estável Atual</h2>

     <p>Essa é a versão mais recente do livro baseada no gerenciamento 
     de systemd e traduzida para o idioma português escrito e falado no 
     Brasil.</p>

     <p><a href = "view/stable-systemd/">BLFS Versão (HTML)</a></p>

     <p>Como resultado de defeitos e avisos de segurança, por favor, 
     leiam-se a página da errata e os Avisos de Segurança para quaisquer 
     modificações necessárias nos aplicativos do BLFS.</p>

<p><a href = "https://www.linuxfromscratch.org/blfs/errata/stable-systemd/">Errata do BLFS Systemd</a></p>

<p><a href = "https://www.linuxfromscratch.org/blfs/advisories/">Avisos de Segurança do BLFS</a></p>

     <h2>Desenvolvimento Atual</h2>

     <p>Esse é o Livro systemd do BLFS no estado atual de 
     desenvolvimento dele. Mudanças podem acontecer que quebrem 
     temporariamente a construção de alguns pacotes. Como essa versão do 
     livro está em constante mudança, não existe errata separada.</p>

<p><a href = "https://www.linuxfromscratch.org/blfs/view/systemd/">Desenvolvimento do BLFS systemd (HTML)</a></p>

     <h2 class = "centralized-h2-title">Museu do BLFS</h2>

     <p>Antigo, mas ainda útil como experiência educacional ou para ver 
     como o BLFS cresceu ao longo dos anos:
<a href = "/museum/blfs-museum">blfs-museum</a></p>

     <h2 class = "centralized-h2-title">Traduções</h2>

       <p>O livro BLFS tem sido traduzido em vários idiomas. Observe que 
       essas traduções foram feitas por voluntários(as) e possivelmente 
       contenham erros de tradução que a equipe do BLFS não consegue 
       controlar. Nesse caso, contate diretamente o(a) tradutor(a).</p>
       
       <p>Se você tiver traduzido o livro BLFS ou se estiver ciente de 
       traduções que não estão nesta lista, por favor, envie-nos uma 
       mensagem eletrônica para o(a)
<a href = "mailto:webmaster@linuxfromscratch.org">webmaster</a> com o 
       URL para a tradução.</p>

     <h3>Francês</h3>
       <p><a href = "http://www.fr.linuxfromscratch.org/">Sítio</a>&nbsp;|
        &nbsp;<a href = "http://www.fr.linuxfromscratch.org/blfs/telecharger">Transferência</a>&nbsp;|
        &nbsp;<a href = "http://www.fr.linuxfromscratch.org/view/blfs-stable/">Versão Estável</a><br />
        Traduzido por <a href = 'mailto:lfs-traducfr@lists.linuxfromscratch.org'>Traduc.org</a></p>

     <h3>Italiano</h3>
       <p><a href = "http://it.tldp.org/lfs/blfs/">Sítio</a>&nbsp;|&nbsp;
          <a href = "http://it.tldp.org/lfs/blfs/6.0/">BLFS 6.0</a><br />
          Traduzido por <a href = "mailto:gulio@pluto.it">Giulio Daprelà</a>
       </p>

     <h3>Português do Brasil</h3>
     <p><a href="https://github.com/espindula/br-blfs">Página inicial</a>
     &nbsp;|&nbsp;
     <a href="https://github.com/espindula/br-blfs/releases">Baixar</a>
     &nbsp;|&nbsp;
     Várias versões estão disponíveis<br />
     Traduzido por Jamenson Espindula</p>

<!--#include virtual="/common/footer.html" -->
