<!--#include virtual="/common/header.html" -->
    <div class="navbar">
      <ul id="menu">
        <li><a id="patches" href="/patches/">Remendos</a></li>
        <li><a id="hints" href="/hints/">Dicas</a></li>
        <li><a id="blfs" href="/glfs/">GLFS</a></li>
        <li><a id="blfs" href="/mlfs/">MLFS</a></li>
        <li><a id="alfsactive" href="/alfs/">ALFS</a></li>
        <li><a id="blfs" href="/blfs/">BLFS</a></li>
        <li><a id="lfs" href="/lfs/">LFS</a></li>
      </ul>
    </div>

<!--        <li><a id="livecd" href="/livecd/">LiveCD</a></li>-->
<!--        <li><a id="hlfs" href="/hlfs/">HLFS</a></li>-->
<!--        <li><a id="clfs" href="https://trac.clfs.org/">CLFS</a></li>-->
