<!--#set var="pageTitle" value="Baixar MLFS" -->
<!--#include virtual="header.html" -->
<!--#include virtual="menu.html" -->
    <div class="main">
      <h1>Baixar MLFS</h1>

      <h2>Obtenha o MLFS</h2>

      <p>O MLFS é mantido como um lançamento contínuo; ele é baseado na versão real de desenvolvimento do livro LFS. Atualmente, não existem lançamentos e, como ele é baseado na versão de desenvolvimento, podem existir soluços de tempos em tempos. O MLFS é destinado para usuários(as) experientes.</p>

      <p>O MLFS pode ser obtido a partir do repositório git:</p>
      <div class="cmd"><p>git clone --branch multilib
         https://git.linuxfromscratch.org/lfs.git mlfs</p></div>
      <p>É recomendado fornecer o nome do diretório (aqui: <tt>mlfs</tt>) para evitar conflitos com outros clones do repositório LFS.</p>

      <p>Se já existir um clone baixado, ele pode ser usado também. Nesse caso, alterne para a ramificação multilib:</p>
      <div class="cmd"><p>cd &lt;onde estiver clone&gt; &amp;&amp;
         git checkout multilib</p></div>


      <h2>Renderizando o livro MLFS</h2>

      <p>A renderização funciona da mesma forma que no livro LFS. Os parâmetros essenciais <tt>REV</tt> e <tt>BASEDIR</tt> deveriam estar definidos. Além dos parâmetros comuns, o MLFS introduziu <em><tt>ARCH</tt></em> que especifica quais tipos de extensões deveriam ser incluídas no HTML produzido. <tt>ARCH</tt> pode ser configurado como
        <ul>
          <li><tt>ml_32</tt>: Incluir somente extensões m32</li>
          <li><tt>ml_x32</tt>: Incluir somente extensões mx32</li>
          <li><tt>ml_all</tt>: Incluir ambos, m32 e mx32</li>
          <li><tt>default</tt>: Incluir nenhuma</li>
        </ul>
        Deixar <tt>ARCH</tt> desconfigurado ou configurá-lo como <tt>default</tt> produzirá um livro LFS sem nenhuma das extensões multilib, o que, portanto, deveria resultar em um livro basicamente idêntico ao livro "original".</p>

      <p>Amostras:
        <ul>
          <li>Sistema de iniciação: sysv, extensão ML: m32<br>
          <div class="cmd"><p>make BASEDIR=... REV=sysv ARCH=ml_32</p></div>
          </li>
          <li>Sistema de iniciação: systemd, extensão ML: m32 e mx32<br>
          <div class="cmd"><p>make BASEDIR=... REV=systemd ARCH=ml_all</p></div>
          </li>
        </ul>
      </p>

      <h2>Pacotes para MLFS</h2>

      <p>Como de costume, o MLFS tem uma lista de pacotes e remendos que você deveria baixar. Eles são os mesmos do livro LFS, atualmente com as seguintes exceções:
        <ul>
	  <li>Capítulo 8: ISL é adicionado para ser usado pelo gcc final</li>
        </ul>
      </p>

<!--#include virtual="/common/footer.html" -->
