    <div id="leftmenu">
      <ul id="mlfsmenulist">
        <li><a href="/">Página Inicial</a></li>
        <li><a href="/mlfs/news.html">Notícias</a></li>
        <li><a href="/mlfs/download.html">Transferência</a></li>
        <li><a href="/support.html">Suporte</a></li>
        <li><a href="/mail.html">Listas de Discussão</a></li>
      </ul>
    </div>
